* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    width:100px;
    height: 30px;
    background-color: rgb(79, 164, 239);
    color:white;
    margin: 10px;
}
.container {
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width:700px;
    height: 700px;
}
.container div {
    width: calc(100% / var(--cols));
    height: calc(100% / var(--cols));
}